<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="{% url 'Recommender:preferences' %}" method="post">
    {% csrf_token %}
    <!-- income -->
    <div class="form-group">
      <label for="annualIncome">Annual Income</label>
      <input type="text" class="form-control" name="annual_income" id="annualIncome" placeholder="Enter email">
    </div>
    <!-- age -->
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" name="age" id="age" placeholder="Age">
    </div>
    <!-- gender -->
    <div class="form-check form-check-inline">
      Gender
      <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="female">
      <label class="form-check-label" for="inlineRadio1">female</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="male">
      <label class="form-check-label" for="inlineRadio2">male</label>
    </div>
    <!-- citizenship -->
    <select class="form-control requried" name="citizenship">
      <option value="">Please Chooses</option>
      <option value="singaporean">Singaporean</option>
      <option value="pr">Permanent Resident</option>
      <option value="foreigner">Foreigner</option>
    </select>
    <!-- spending -->
    <div class="form-group">
      <label for="age">Annual Spending Amount</label>
      <input type="number" class="form-control" name="total_spending_amount" id="total_spending_amount" placeholder="Annual Spending Amount">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
</html>