<form action="{% url 'Recommender:spending' %}" method="post">
  {% csrf_token %}
  Annual Income:<br>
  <input type="text" name="annual_income"><br>
  Age:<br>
  <input type="text" name="age"><br>
  Citizenship:<br>
  <select name="citizenship">
    <option value="Singaporean">Singaporean</option>
    <option value="PR">PR</option>
    <option value="Foreigner">Foreigner</option>
  </select><br>
  Total Spending Amount:<br>
  <input type="text" name="total_spending_amount"><br>
  <input type="submit" value="Submit"><br>
</form>
