<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href={% static "Recommender/vendor/bootstrap/css/bootstrap.min.css" %}>
    <title>Preferences</title>
</head>

<body data-offset="80">
<div class="container">
  <form action="{% url 'Recommender:spending_checkbox' %}" method="post">
    {% csrf_token %}

    <!-- preferred_bank -->
    <div class="form-group">
        <label for="preferredBank">Preferred Bank</label><br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="preferred_bank" value="dbs">
          <label class="form-check-label" for="inlineCheckbox1">DBS</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="preferred_bank" value="ocbc">
          <label class="form-check-label" for="inlineCheckbox2">OCBC</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="preferred_bank" value="hsbc">
          <label class="form-check-label" for="inlineCheckbox3">HSBC</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="preferred_bank" value="citibank">
          <label class="form-check-label" for="inlineCheckbox3">Citibank</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="preferred_bank" value="maybank">
          <label class="form-check-label" for="inlineCheckbox3">Maybank</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="preferred_bank" value="uob">
          <label class="form-check-label" for="inlineCheckbox3">UOB</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="preferred_bank" value="standard chartered">
          <label class="form-check-label" for="inlineCheckbox3">Standard Chartered</label>
        </div>
    </div><!-- form-group -->

    <!-- preferred_card_type -->
    <div class="form-group">
        <label for="annualIncome">Preferred Card Payment Network</label><br>
        <div class="form-check form-check-inline" name="preferred_card_type">
          <input class="form-check-input" type="checkbox" name="preferred_card_type" id="inlineCheckbox1" value="visa">
          <label class="form-check-label" for="inlineCheckbox1">Visa</label>
        </div>
        <div class="form-check form-check-inline" name="preferred_card_type">
          <input class="form-check-input" type="checkbox" name="preferred_card_type" id="inlineCheckbox2" value="mastercard">
          <label class="form-check-label" for="inlineCheckbox2">MasterCard</label>
        </div>
        <div class="form-check form-check-inline" name="preferred_card_type">
          <input class="form-check-input" type="checkbox" name="preferred_card_type" id="inlineCheckbox3" value="american express">
          <label class="form-check-label" for="inlineCheckbox3">American Express</label>
        </div>
        <div class="form-check form-check-inline" name="preferred_card_type">
          <input class="form-check-input" type="checkbox" name="preferred_card_type" id="inlineCheckbox3" value="jcb">
          <label class="form-check-label" for="inlineCheckbox3">JCB</label>
        </div>
    </div><!-- form-group -->

    <!-- preferred_rewards_type -->
    <div class="form-group">
        <label for="preferred_rewards_type">Preferred Rewards Type</label><br>
        <div class="form-check form-check-inline" name="preferred_rewards_type">
          <input class="form-check-input" type="checkbox" name="preferred_rewards_type" id="inlineCheckbox1" value="cashback">
          <label class="form-check-label" for="chashback">Cashback</label>
        </div>
        <div class="form-check form-check-inline" name="preferred_rewards_type">
          <input class="form-check-input" type="checkbox" name="preferred_rewards_type" id="inlineCheckbox2" value="miles">
          <label class="form-check-label" for="miles">Miles</label>
        </div>
        <div class="form-check form-check-inline" name="preferred_rewards_type">
          <input class="form-check-input" type="checkbox" name="preferred_rewards_type" id="inlineCheckbox3" value="points">
          <label class="form-check-label" for="rewards">Rewards</label>
        </div>
    </div><!-- form-group -->

    <button type="submit" class="btn btn-primary">Next</button>
  </form>
</div><!-- content container -->

<script src={% static "Recommender/vendor/jquery/jquery-3.2.1.min.js" %}></script>
<script src={% static "Recommender/vendor/bootstrap/js/popper.js" %}></script>
<script src={% static "Recommender/vendor/bootstrap/js/bootstrap.min.js" %}></script>

</body>
</html>