{% extends "Recommender/base.html" %}

{% block form %}
<form action="{% url 'Recommender:spending_amount' %}" method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="name">What do you pay by credit cards</div>
      	<div class="value">
		    <div class="custom-control custom-checkbox">
		      <input class="custom-control-input" type="checkbox" name="bill_checkbox" id="bill" value="1">
		      <label class="custom-control-label" for="bill">Bill</label>
		    </div>
		    <div class="custom-control custom-checkbox">
		      <input class="custom-control-input" type="checkbox" name="dining_checkbox" id="dining" value="1">
		      <label class="custom-control-label" for="dining">Dining</label>
		    </div>
		    <div class="custom-control custom-checkbox">
		      <input class="custom-control-input" type="checkbox" name="entertainment_checkbox" id="entertainment" value="1">
		      <label class="custom-control-label" for="entertainment">Entertainment</label>
		    </div>
		    <div class="custom-control custom-checkbox">
		      <input class="custom-control-input" type="checkbox" name="foreign_checkbox" id="foreign" value="1">
		      <label class="custom-control-label" for="foreign">Foreign</label>
		    </div>
		    <div class="custom-control custom-checkbox">
		      <input class="custom-control-input" type="checkbox" name="grocery_checkbox" id="grocery" value="1">
		      <label class="custom-control-label" for="grocery">Grocery</label>
		    </div>
		    <div class="custom-control custom-checkbox">
		      <input class="custom-control-input" type="checkbox" name="online_checkbox" id="online" value="1">
		      <label class="custom-control-label" for="online">Online</label>
		    </div>
		    <div class="custom-control custom-checkbox">
		      <input class="custom-control-input" type="checkbox" name="petrol_checkbox" id="petrol" value="1">
		      <label class="custom-control-label" for="petrol">Petrol</label>
		    </div>
		    <div class="custom-control custom-checkbox">
		      <input class="custom-control-input" type="checkbox" name="retail_shopping_checkbox" id="retail" value="1">
		      <label class="custom-control-label" for="retail">Retail</label>
		    </div>
		    <div class="custom-control custom-checkbox">
		      <input class="custom-control-input" type="checkbox" name="transport_checkbox" id="transport" value="1">
		      <label class="custom-control-label" for="transport">Transport</label>
		    </div>
		</div>
	</div>

    <div class="text-right">
        <button class="btn btn--radius-2 btn--red" type="submit">Next</button>
    </div>
</form>
{% endblock %}