<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        {% for field in user_form %}
        <tr>
            {% if field.label == '评估总结' %}
            <th colspan="6" class="center">
                <label>{{ field.label}}</label>
            </th>
            </tr>
            <tr>
                <td colspan="6" class="center">
                {{ field }}
                </td>
            {% else %}
            <th colspan="5">
                {{ field.label}}
            </th>
            <td>
                {{ field }}
            </td>
            {% endif %}
        </tr>
        {% endfor %}




</body>
</html>