<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "Recommender/vendor/bootstrap/css/bootstrap.min.css" %}>
    <meta charset="UTF-8">
    <title>Eligibility</title>
</head>

<body>
<div class="container">
  <form action="{% url 'Recommender:recommendation' %}" method="post">
    {% csrf_token %}
        <fieldset class="form-group">
            <legend>Grocery</legend>
            <div class="form-group">
                <label for="ntuc">NTUC</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
        </fieldset>

    <!-- Grocery -->
    <fieldset class="form-group">
      <legend>Preferred Bank Rank (1 is most preferable, no repeating number; 1 to 8) </legend>
      <div class="form-group row">
        <label for="DBS" class="col-sm-2 col-form-label">DBS</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" name="preferred_bank_rank" id="preferredBankRank" placeholder="1 is most preferable">
        </div>
      </div><!-- form-group row-->
      <div class="form-group row">
        <label for="OCBC" class="col-sm-2 col-form-label">OCBC</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" name="preferred_bank_rank" id="preferredBankRank" placeholder="1 is most preferable">
        </div>
      </div><!-- form-group row-->
      <div class="form-group row">
        <label for="HSBC" class="col-sm-2 col-form-label">HSBC</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" name="preferred_bank_rank" id="preferredBankRank" placeholder="1 is most preferable">
        </div>
      </div><!-- form-group row-->
      <div class="form-group row">
        <label for="Citibank" class="col-sm-2 col-form-label">Citibank</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" name="preferred_bank_rank" id="preferredBankRank" placeholder="1 is most preferable">
        </div>
      </div><!-- form-group row-->
      <div class="form-group row">
        <label for="Maybank" class="col-sm-2 col-form-label">Maybank</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" name="preferred_bank_rank" id="preferredBankRank" placeholder="1 is most preferable">
        </div>
      </div><!-- form-group row-->
      <div class="form-group row">
        <label for="UOB" class="col-sm-2 col-form-label">UOB</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" name="preferred_bank_rank" id="preferredBankRank" placeholder="1 is most preferable">
        </div>
      </div><!-- form-group row-->
      <div class="form-group row">
        <label for="Standard Chartered" class="col-sm-2 col-form-label">Standard Chartered</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" name="preferred_bank_rank" id="preferredBankRank" placeholder="1 is most preferable">
        </div>
      </div><!-- form-group row-->
    </fieldset>



<!--         {% for field in user_form %}
        <tr>
            {% if field.label == '评估总结' %}
            <th colspan="6" class="center">
                <label>{{ field.label}}</label>
            </th>
            </tr>
            <tr>
                <td colspan="6" class="center">
                {{ field }}
                </td>
            {% else %}
            <th colspan="5">
                {{ field.label}}
            </th>
            <td>
                {{ field }}
            </td>
            {% endif %}
        </tr>
        {% endfor %} -->

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div><!-- content container -->


</body>
</html>