{% extends "Recommender/base.html" %}

{% block form %}
  <form action="{% url 'Recommender:recommendation' %}" method="post">
    {% csrf_token %}

        <fieldset class="form-group">

            <div class="form-row">
              <div class="name">Bill</div>
                <div class="value">
                  <input class="input--style-5" type="number" name="bill_spending" placeholder="Amount you spent every month">
                </div>
            </div>


            <div class="form-row">
              <div class="name">Dining</div>
                <div class="value">
                  <input class="input--style-5" type="number" name="dining_spending" placeholder="Amount you spent every month">
                </div>
            </div>


            <div class="form-row">
              <div class="name">Entertainment</div>
                <div class="value">
                  <input class="input--style-5" type="number" name="entertainment_spending" placeholder="Amount you spent every month">
                </div>
            </div>


            <div class="form-row">
              <div class="name">Foreign Currency Spending (converted to SGD)</div>
                <div class="value">
                  <input class="input--style-5" type="number" name="foreign_spending" placeholder="Amount you spent every month">
                </div>
            </div>


            <div class="form-row">
              <div class="name">Retail Shopping</div>
                <div class="value">
                  <input class="input--style-5" type="number" name="retail_shopping_spending" placeholder="Amount you spent every month">
                </div>
            </div>


            <div class="form-row">
              <div class="name">Transport</div>
                <div class="value">
                  <input class="input--style-5" type="number" name="transport_spending" placeholder="Amount you spent every month">
                </div>
            </div>

        </fieldset>

        <!-- Grocery -->

        <fieldset class="form-group">
            <div class="name">Grocery</div>
              <div class="form-row">
                <label for="ntuc" class="name">NTUC</label>
                <div class="col-sm-6">
                  <input type="number" class="input--style-5" name="groceries_ntuc_spending" placeholder="Amount you spent every month">
                </div>
              </div><!-- form-row-->
              <div class="form-row">
                <label for="sheng_siong" class="name">Sheng Siong</label>
                <div class="col-sm-6">
                  <input type="number" class="input--style-5" name="groceries_sheng_siong_spending" placeholder="Amount you spent every month">
                </div>
              </div><!-- form-row-->
              <div class="form-row">
                <label for="cold_storage" class="name">Cold Storage</label>
                <div class="col-sm-6">
                  <input type="number" class="input--style-5" name="groceries_cold_storage_spending" placeholder="Amount you spent every month">
                </div>
              </div><!-- form-row-->
              <div class="form-row">
                <label for="giant" class="name">Giant</label>
                <div class="col-sm-6">
                  <input type="number" class="input--style-5" name="groceries_giant_spending" placeholder="Amount you spent every month">
                </div>
              </div><!-- form-row-->
              <div class="form-row">
                <label for="others" class="name">others</label>
                <div class="col-sm-6">
                  <input type="number" class="input--style-5" name="groceries_others_spending" placeholder="Amount you spent every month">
                </div>
              </div><!-- form-row-->
        </fieldset>


        <!-- Petrol -->

        <fieldset class="form-group">
          <div class="name">Petrol</div>
          <div class="form-row">
            <label for="esso" class="name">Esso</label>
            <div class="col-sm-6">
              <input type="number" class="input--style-5" name="petrol_esso_spending" placeholder="Amount you spent every month">
            </div>
          </div><!-- form-row-->
          <div class="form-row">
            <label for="caltex" class="name col-sm-6">Caltex</label>
            <div class="col-sm-6">
              <input type="number" class="input--style-5" name="petrol_caltex_spending" placeholder="Amount you spent every month">
            </div>
          </div><!-- form-row-->
          <div class="form-row">
            <label for="shell" class="name">Shell</label>
            <div class="col-sm-6">
              <input type="number" class="input--style-5" name="petrol_shell_spending" placeholder="Amount you spent every month">
            </div>
          </div><!-- form-row-->
          <div class="form-row">
            <label for="others" class="name">Others</label>
            <div class="col-sm-6">
              <input type="number" class="input--style-5" name="petrol_others_spending" placeholder="Amount you spent every month">
            </div>
          </div><!-- form-row-->
        </fieldset>


        <!-- Online Shopping -->

        <fieldset class="form-group">
          <div class="name">Online Shopping</div>
          <div class="value"></div>
          <div class="form-row">
            <label for="hotel_and_flight" class="name">Hotel and Flight</label>
            <div class="col-sm-6">
              <input type="number" class="input--style-5" name="online_shopping_hotels_and_flight_spending" placeholder="Amount you spent every month">
            </div>
          </div><!-- form-row-->
          <div class="form-row">
            <label for="others" class="name">Others</label>
            <div class="col-sm-6">
              <input type="number" class="input--style-5" name="online_shopping_others_spending" placeholder="Amount you spent every month">
            </div>
          </div><!-- form-row-->
        </fieldset>


    <div class="text-right">
        <button class="btn btn--radius-2 btn--red" type="submit">Next</button>
    </div>
</form>
{% endblock %}