<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>{% block title %}MRCard{% endblock %}</title>

    <!-- Icons font CSS-->
    <link href="{% static 'Recommender/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'Recommender/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href=https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{% static 'Recommender/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Recommender/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'Recommender/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'Recommender/css/main.css' %}" rel="stylesheet" media="all">

    <!-- My CSS -->
    <link href="{% static 'Recommender/mycss/mycss.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
    <style>
        .lead {
            font-size: 1.25rem;
            font-weight: 300;
        }
    </style>
</head>

<body>
<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">{% block formtitle %}MRCard Form{% endblock %}</h2>
            </div>
            <div class="my-card-body mb-4">
                <div class="pricing-header px-3 py-3 pt-md-0 pb-md-4 mt-2 mx-auto text-center">
                    <h1 class="display-4">Recommendation</h1>
                    <p class="lead">Here is the credit cards we recommend to you based on you spending habits.</p>
                </div>
                <div class="container">
                    <div class="card-deck text-center">
                        <div class="card mb-6 box-shadow">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Based on Your Choice</h4>
                            </div>
                            <div class="my-card-body">
                                <h1 class="card-title pricing-card-title">wertrewt</h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>efrrsdf</li>
                                    <li>ewrtwert</li>
                                    <li>wertert</li>
                                </ul>
                                <button type="button" class="my-btn my-btn-lg my-btn-block my-btn-outline-primary">Apply</button>
                            </div>
                        </div>
                        <div class="card mb-6 box-shadow">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Ideal Card</h4>
                            </div>
                            <div class="my-card-body">
                                <h1 class="card-title pricing-card-title">{{ ideal_credit_card }}</h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>{{ ideal_cashback_amount }}</li>
                                    <li>{{ ideal_miles_amount }}</li>
                                    <li>{{ ideal_points_amount }}</li>
                                </ul>
                                <button type="button" class="my-btn my-btn-lg my-btn-block my-btn-outline-primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static 'Recommender/vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'Recommender/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'Recommender/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'Recommender/vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'Recommender/js/global.js' %}"></script>

</body>

</html>
<!-- end document-->